<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.goodchef.liking"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0.0">

    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <application
        android:name=".app.LikingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LikingHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <!--团体课程详情-->
        <activity android:name=".activity.GroupLessonDetailsActivity"/>
        <!--私教课程详情-->
        <activity android:name=".activity.PrivateLessonDetailsActivity"/>
        <!--关于我们-->
        <activity android:name=".activity.AboutActivity"/>
        <!--成为教练-->
        <activity android:name=".activity.BecomeTeacherActivity"/>
        <!--周边-菜品详情-->
        <activity android:name=".activity.DishesDetailsActivity"/>
        <!--联系加盟-->
        <activity android:name=".activity.ContactJonInActivity"/>
        <!--我的信息-->
        <activity android:name=".activity.MyInfoActivity"/>
        <!-- 图片选择-->
        <activity android:name=".widgets.camera.AlbumActivity"/>
        <!--课程-->
        <activity android:name=".activity.LessonActivity"/>
        <!--我的优惠券-->
        <activity android:name=".activity.CouponsActivity"/>
        <!--用户登录-->
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--查看所有门店-->
        <activity android:name=".activity.LookStoreMapActivity"/>
        <!--查看场馆-->
        <activity android:name=".activity.ArenaActivity"/>
        <!--私教课确认订单-->
        <activity android:name=".activity.OrderPrivateCoursesConfirmActivity"/>
        <!-- 高德地图注册信息-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d599392f8c7be8820ac37204819a453b"/>
        <service android:name="com.amap.api.location.APSService"/>
    </application>

</manifest>